#content-core a{
    border: none;
}
.banner_container .right_banner img {
    width:100%;
/*    height: 180px;*/
    padding: 5px 0;
}
.product_container .item { padding: 10px; text-align: center }
.product_container .item img { width: 100%;}

.polyester_container .item { padding: 10px; text-align: center}
.polyester_container .item img { width: 100%}
#portal-footer { border-top: solid red 1px }
article#content { margin-bottom:0}

.banner_container, #product_container, .polyester_container {
    background: #fff;
    margin: 0 0 10px 0;
    padding: 8px;
}
.polyester_container { margin-bottom: 0}
footer#portal-footer-wrapper {
    margin-top: 0;
}
#portal-footer-wrapper .footer-col .site-info { margin: 10px 0}
#portal-footer-wrapper .footer-col .copyright { margin: 10px 0}
#portal-footer-wrapper .footer-col h4 {
    font-size: 24px;
    color: #333;
    text-align: left;
}
#portal-footer-wrapper .footer-col p {
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;
    color: #333;
    border-bottom: initial;
}
div.footer { padding: 10px 0 }
.footer-col-1 { color: #333; }
.footer-logo { width: 100% }
#main-container { background: #e3e4e6;}
#portal-footer {background:#fff}
#portal-globalnav li {
border-right: solid 1px;
}

#portal-header {
    background:#fff;
}

.plone-navbar-nav > .selected > a, .plone-navbar-nav > .selected > a:hover, .plone-navbar-nav > .selected > a:focus {
    color: white;
    background-color: #c83112;
}
.plone-navbar-nav > .selected {
    color: white;
    background-color: #c83112;
}
.plone-navbar {
    background-color: #1b1b1b;
}

#portal-logo {
    max-width:220px;
    margin: 0 0 20px 10px;
 }
#portal-logo img {
    width:100%;
}

/* top red banner */
#sk_header {
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
    height:40px;
    background:#fb0017;
}
#portal-header {
    padding-top:50px;
}

body {background:#e3e4e6}
footer#portal-footer-wrapper {
    background:#e3e4e6;
    padding: 0;
    margin-bottom:20px;
}
@media (min-width: 1052px) {
    .plone-toolbar-left-default .container { width: 1100px; }
    footer#portal-footer-wrapper {
        width: 1100px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    footer#portal-footer-wrapper {
        width: 1170px;
    }
}

@media (min-width: 1600px) {
    footer#portal-footer-wrapper {
        width: 1570px;
    }
}

body {
    font-family: "微軟正黑體", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
