img{
    width: 100%
}
.plone-navbar{
    background: black;
}
.plone-navbar-nav > .selected > a, .plone-navbar-nav > .selected > a:hover, .plone-navbar-nav > .selected > a:focus{
    background: rgba(224, 3, 30, 0.9);
}
.plone-nav > li > a:hover, .plone-nav > li > a:focus{
    background: black;
}
body{
    background: #ccc;
}
#main-container{
    background: #fff;
    border-radius: 8px;
}
#new_footer{
    text-align: center;
    margin: 10px -10px 0 -10px;
    width: 100%;
    padding-top: 30px;
    border-top: 2px solid #fb0017;
}
footer ul{
    text-align: left;
    padding: 0;
}
footer li{
    color: black;
    display: list-item;
    list-style: none;
}
footer h3{
    text-align: left;
    padding-left: 13px;
}
.site_map li{
    display: inline-block;
}
.site_map li:nth-child(odd){
    padding: 0;
}
.icon_email{
    background-image: url('../img/spritesheet-936696440c192041e603248d48516785.png');
    background-position: 0px -488px;
    padding: 10px 20px;
    margin-top: 30px;
}
.icon_sk21 {
    background-image: url('../img/spritesheet-936696440c192041e603248d48516785.png');
    background-position: 0px -453px;
    padding: 10px 20px;
    margin-top: 30px;
}
.footer_container{
    text-align: left;
}

.footer_thr p{
    text-align: left;
    margin-bottom: 20px;
}
.hide{
    display: none;
}
.top_icon img{
    width: 200px;
}
#portal-header{
    margin: 0;
    padding: 15px;
    background: white;
    margin-bottom: 10px;
}
#portal-searchbox{
    display: none;
}
#portal-globalnav-wrapper{
    margin: auto;
    margin-bottom: 10px;
}
@media (min-width: 768px){
    #portal-globalnav-wrapper {
        width: 720px;
    }
}
@media (min-width: 992px){
    #portal-globalnav-wrapper, .template-cover_view #new_footer{
        width: 960px;
    }
}
@media (min-width: 1200px){
    #portal-globalnav-wrapper, .template-cover_view #new_footer{
        width: 1140px;
    }
}
@media (min-width: 1600px){
    #portal-globalnav-wrapper, .template-cover_view #new_footer{
        width: 1540px;
    }
}

.outer-wrapper .container .row{
    margin: 0;
}
.template-cover_view .outer-wrapper .container .row{
    margin-left: -10px;
    margin-right: -10px;
}

.template-cover_view .outer-wrapper .container .row.banner_container,
.template-cover_view .outer-wrapper .container .row.product_container{
    margin-bottom: 10px;
}
#new_footer .footer_sec h3{
    margin-top: 0;
    font-weight: 600;
    padding-left: 0;
}

